@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron" style="background-color:#67728f;">
    <h1>Welcome</h1>
    <p class="lead">This is a little bittle movie shop. It doesn't work yet but go to nextgen and download them all for free!!!</p>
</div>*@
<div style="margin-left:350px;" >
    <img src="~/Content/Images/sinkeblauen.png" />
</div>
<br />
<br />
<br />
<div class="row">
    <div class="col-md-4">
        <h2>Moving</h2>
        <p>
            bla bla, bla bla bla, bla bla bla bla bla!! 
        </p>
    </div>
    <div class="col-md-4">
        <h2>Vicious</h2>
        <p>halli hallo, og lige et øjeblik! </p>
    </div>
    <div class="col-md-4">
        <h2>Ostrache</h2>
        <p>Ha' en god dag</p>
    </div>
</div>



