@{
    ViewBag.Title = "Home Page";
}
<style>
    div.voffset2 {
        margin-top: 30px;
    }

    #MyCover {
        height: 200px;
        width: 310px;
    }
</style>

<div class="col-xs-12 col-md-8 col-lg-12 voffset2">
    <div>
        <img src="http://wmp.mx/english/images/administration.jpg" style="height:200px; width:1110px;">
    </div>
</div>

<div class="col-xs-6 voffset2">
    <div class="hovereffect">
        <img class="img-responsive" id="MyCover" src="~/Content/Movies.jpg" style="height:200px; width:550px">
        <div class="overlay">
            <a class="info" href='@Url.Action("Index", "Movies")'></a>
        </div>
    </div>
    <text><strong>Create, Update and Delete Movies</strong></text>
</div>

<div class="col-xs-6 voffset2">
    <div class="hovereffect">
        <img class="img-responsive" id="MyCover" src="~/Content/Genres.jpg" style="height:200px; width:550px">
        <div class="overlay">
            <a class="info" href='@Url.Action("Index", "Genres")'></a>
        </div>
    </div>
    <text><strong>Create, Update and Delete Genres</strong></text>
</div>

<div class="col-xs-6 voffset2">
    <div class="hovereffect">
        <img class="img-responsive" id="MyCover" src="~/Content/Customers.jpg" style="height:200px; width:550px">
        <div class="overlay">
            <a class="info" href='@Url.Action("Index", "Customers")'></a>
        </div>
    </div>
    <text><strong>Create, Update and Delete Customers</strong></text>
</div>

<div class="col-xs-6 voffset2">
    <div class="hovereffect">
        <img class="img-responsive" id="MyCover" src="~/Content/Orders.jpg" style="height:200px; width:550px">
        <div class="overlay">
            <a class="info" href='@Url.Action("Index", "Home")'></a>
        </div>
    </div>
    <text><strong>Create, Update and Delete Orders</strong></text>
</div>
